@media screen and (min-width: 1200px){
	.titulo{
		font-size: 60px;
		color:#E96061;
	}


	.foto{
		width: 90px;
		height: 90px;

	}

	.profeMate{
		padding-left: 500px;
		color:red;
		margin-bottom: 35px;
		text-decoration: underline black;
	}

	.card{
		width: 323px;
		margin-left:35px;
	}

	.profeLengua{
		padding-left: 500px;
		color: blue;
		margin-bottom: 35px;
		margin-top: 80px;
		text-decoration: underline black;
	}
	
	.spinner-border{
		margin-left:600px;
		margin-top: 120px;
		margin-bottom: 250px;
		
	}

	.profeQuimi{
		padding-left: 500px;
		color: yellow;
		padding-bottom: 35px;
		text-decoration: underline black;
	}

	.profeUni{
		padding-left: 500px;
		color: #E96061;
		padding-top: 50px;
		padding-bottom: 35px;
		text-decoration: underline black;
	}














	.footer{
		padding-left: 500px;
		padding-top:50px;
		font-size: 20px;
	}


}