@media screen and (min-width: 1200px){
	.titulo{
		font-size: 60px;
		color:#E96061;
	}

	.foto{
		width: 90px;
		height: 90px;

	}
	.fondo{
		background-color: white;
	}

	.ejercicio_algebra{
		padding-top: 20px;
		padding-left: 40px;
	}

	.ejercicios_analisis{
		padding-top: 20px;
	}



	.footer{
		padding-left: 500px;
		padding-top:550px;
		font-size: 20px;
	}






}