@media only screen and (max-width: 768px){
	.titulo{
		font-size: 22px;
		margin-top:12px;
	}

	

	.texto_Presentacion{
		padding-left:26px;
		font-size: 12px;
	}

	.fondo{
		background-color: white;
	}

	.buscador{
		list-style: none;
		margin-top: 5px;

	}

	.materias{
		padding-left: 10px;
		margin-bottom: 15px;
	}

	.profesores_resumido{
		margin-left: 17px;
		background-color: black;
		margin-bottom: 30px;
	}

	.carousel{
		padding-left: 29px;
	}




}