@media only screen and (max-width: 768px){
	.titulo{
		font-size: 22px;
		margin-top:12px;
	}

	.fondo{
		background-color: white;
	}

	.ejercicio_algebra{
		padding-top: 20px;
		padding-left: 22px;
		background-color: #7af105;
	}

	.ejercicios_analisis{
		padding-top: 20px;
		background-color: #0083ff;
	}

	.linkAnalisis{
		padding-left:50px;
		color:#f8f9fa;
	}

	.linkAlebra{
		padding-left:50px;
		color:#f8f9fa;
	}

	.footer{
		padding-top: 80px;
	}




}