@media only screen and (max-width: 768px){
	.titulo{
		font-size: 22px;
		margin-top:12px;
	}

	.fondo{
		background-color: white;
	}

	.texto{
		font-size:12px;
	}
	.video{
		padding-left:10px;
		width: 326px;
		height: 187px;
	}
	
	




}