@media only screen and (max-width: 768px){
	
	.titulo{
		font-size: 22px;
		margin-top: 12px;
	}

	.profeMate{
		padding-left: 40px;
		color:red;
		margin-bottom: 35px;
	}
	.card{
		width: 323px;
		padding-left:15px;
	}

	.profeLengua{
		padding-left: 65px;
		color: blue;
		margin-bottom: 35px;
		margin-top: 40px;
	}

	.spinner-border{
		margin-left:155px;
		margin-top: 40px;
		margin-bottom: 80px;
		
	}

	.profeQuimi{
		padding-left: 65px;
		color: yellow;
		padding-bottom: 35px;
	}

	.profeUni{
		padding-left: 65px;
		color: #E96061;
		padding-top: 50px;
		padding-bottom: 35px;
	}





}